@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Utility for hiding scrollbar but keeping functionality */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* Safe area for mobile bottom nav */
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

body {
  background-color: theme('colors.ui.bg');
  color: theme('colors.ui.text');
}
